h1 {
	color: red;
}

.property {
	border: 1px solid black;
	height: 50px;
	text-align: center;
	font-family: 'Gudea', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.monopolyGroup {
	height: 15%;
	border-bottom: 1px solid grey;
	padding: 1px;
}

.Purple {
	background-color: purple;
	color: white;
}

.LightBlue {
	background-color: lightblue;
}

.Maroon {
	background-color: maroon;
	color: white;
}

.Orange {
	background-color: orange;
}

.Red {
	background-color: red;
}

.Yellow {
	background-color: yellow;
}

.Green {
	background-color: green;
}

.Blue {
	background-color: blue;
	color: white;
}

#P1 {
	border-radius: 50px;
	background-color: black;
	color: yellow;
	font-weight: 500;
	font-size: 14px;
	border: 1px solid grey;
}

#P2 {
	border-radius: 50px;
	background-color: red;
	color: black;
	font-weight: 500;
	font-size: 14px;
	border: 1px solid black;
}

.monopoly {
	font-size: 34px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: lightgrey;
}

.cards {
	border: 2px dashed lightgrey;
	height: 47px;
	line-height: 47px;
	text-align: center;
	transform: rotate(-25deg);
	font-family: 'Gudea', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dice {
	border: 2px dashed lightgrey;
	height: 47px;
	text-align: center;
	line-height: 47px;
	text-decoration: underline;
	text-decoration-color: red;
	font-family: 'Gudea', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#diceTitle {
	border: 0px;
	position: relative;
	top: 21px;
	text-decoration: none;
	font-family: 'Gudea', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.board {

}

#messageBoard {
	border: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
	height: 500px;
	overflow-y: scroll;
	margin-left: -15px;
}

.message {
	margin-top: 3px;
	border-top: 1px dashed lightgrey;
}

.hide {
	display: none;
}

.players {
	height: 25px;
}

#commChest {
	padding-top: -4px;
	padding-bottom: -4px;
}

#nextPlayerTurn {
	height: 50px;
	margin-left: -15px;
}

.lineBreak {
	font-weight: 900;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	line-height: 15px;
}

#outerContainer {
	margin-left: 10px;
	margin-top: 10px;	
	margin-right: 10px;
}

.yesNoButton {
	text-align: center;
	padding-bottom: 6px;
}

#addlScoreInfo1 {
	white-space: pre-wrap;
}